.cookie-container {
    min-width: 30svw;
}

.game-info-container {
    font-weight: bold;
    /*font-size: 1.5rem;*/
}

.cookie-image-container {
    /* Prevent the rotating img from modifying the document size*/
    overflow: hidden;
}

.cookie-image-container > img {
    width: 100%;
    height: 100%;
    max-width: 40svh;
    animation: cookie 4s linear infinite;
}

.game-info-pop {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 0.1rem;
}
@keyframes cookie {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.plus {
    position: absolute;
    color: red;
    font-size: 2rem;
    animation: moveUpFade 1s forwards;
    pointer-events: none;
    left: 50%;
    transform: translateX(-100%);
}

@keyframes moveUpFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
