.cookie-container {
    min-width: 30svw;
}

.game-info-container {
    font-weight: bold;
    font-size: 1.5rem;
}

.cookie-image-container {
    /* Prevent the rotating img from modifying the document size*/
    overflow: hidden;
}

.cookie-image-container > img {
    width: 100%;
    height: 100%;
    max-width: 40svh;
    animation: cookie 4s linear infinite;
}

@keyframes cookie {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
